<!-- Title -->
{{define "title"}}The Dark Web{{end}}

<!-- Content -->
{{define "main"}}
<section>
  <style>
    .sub {
      display: block;
      min-height: 100vh;
      text-align: center;
      margin: 5rem;

      h1 {
        font-size: 7rem;
      }

      h2 {
        font-size: 3rem;
      }

      span {
        font-size: 120%;
        font-style: italic;
      }
    }
  </style>
  <section class="sub">
    <h1>Welcome to the dark-web!</h1>
    <span>Beyond the Surface — Into the Shadows of the Internet!</span>
  </section>
  <section class="sub">
    <h2>Histroy of the dark web</h2>
  </section>
  <section class="sub">
    <h2>Safties of the dark web</h2>
  </section>
  <section class="sub">
    <h2>About Us</h2>
  </section>
</section>
{{end}}
