<!doctype html>
<html lang="en" x-data="{ theme:'light' }" :data-theme="theme">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ template "title" .}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <style></style>
</head>

<body>
  <nav class="container-fluid">
    <ul>
      <li>Dark Web</li>
    </ul>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul>
      <li>
        <button type="button" @click="$data.theme = ($data.theme === 'light') ? 'dark' : 'light'"
          x-text="$data.theme === 'light' ? 'Dark mode' : 'Light mode'">
          Dark mode
        </button>
      </li>
    </ul>
  </nav>
  <main class="container">{{ template "main" .}}</main>
  <footer class="container">
    <p>&copy; Hidden Service — Privacy is Freedom — Stay safe</p>
  </footer>
</body>

</html>
